{% extends 'user/base.html' %}
{% block title %} Load Data{% endblock %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'predictor/css/new.css' %}">
    <script src="{% static 'predictor/script/new.js' %}"></script>
</head>
<style>
</style>
<div class="message2user fixed"></div>
<br>
<br>
<br>
<br>
<div class="create-form fixed">
    <form action="{% url 'predictor:create' %}" method="POST" enctype="multipart/form-data" id="predictor_form">     
        {% csrf_token %}
            <p>file_name = "{{form.name}}"</p>
            <p class="indentOne">CSV_file = {{form.file}}</p>
            <p class="indentOne">test_size = "{{form.size}}"</p>
            <p class="indentOne">data_parameters = [</p>
            <p class="indentTwo">"{{form.first}}", "{{form.second}}", "{{form.third}}"</p>
            <p class="indentOne">]</p>
            <p class="indentOne">separator = {{form.separator}}</p>
            <p><input type="submit" value="Predict"><p>
    </form>
    <br>
    <div class="linear-regression-model">
        <p>linear_regression_model = {</p>
        <p class="indentOne"><span class="accuracy-toggle">"accuracy": {{data.accuracy}}</span></p>
        <p class="indentOne"><span class="coefficient-toggle">"coefficient": {{data.coefficient}}</span></p>
        <p class="indentOne"><span class="intercept-toggle"><span>"intercept": {{data.intercept}}</span></p>
        <p>}</p>
    </div>
</div>
<div class="data-results">
    <p class="right-align">TEST DATA / PREDICTION / RESULT</p>
</div>
<a href="{% url 'predictor:index' %}"><img class="navigation" onclick="setDisplay()" src="{% static 'predictor/images/icon2.png' %}" alt=""></a>
{% endblock %}