{% extends 'user/base.html' %}
{% block title %} Prediction{% endblock %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'predictor/css/show.css' %}">
    <script src="{% static 'predictor/script/show.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<div class="message2user fixed"></div>
<br>
<br>
<br>
<br>
<div class="create-form-info fixed">
    <div class="form-info">
        <p>file_name = "{{info.name}}"</p>
        <p class="indentOne">CSV_file = "PLACEHOLDER"</p>  
        <p class="indentOne">test_size = "{{info.size}}"</p>
        <p class="indentOne">data_parameters = [</p>
        <p class="indentTwo">"{{info.first}}", "{{info.second}}", "{{info.third}}"</p>
        <p class="indentOne">]</p>
        <p class="indentOne">separator = "{{info.separator}}"</p>
        <br>
    </div>
    <br>
    <div class="linear-regression-model">
        <p>linear_regression_model = {</p>
        <p class="indentOne"><span class="accuracy-toggle">"accuracy": {{data.accuracy}}</span></p>
        <p class="indentOne"><span class="coefficient-toggle">"coefficient": {{data.coefficient}}</span></p>
        <p class="indentOne"><span class="intercept-toggle"><span>"intercept": {{data.intercept}}</span></p>
        <p>}</p>
    </div>
    <br>
    <div class="accuracy-info">
        <p>Accuracy is a measure of the closeness between a linear regressions computed result, and the true result given.</p>
        <p></p>
    </div>
    <div class="coefficient-info">
        <p>Coefficients are the values that multiply the predictor values. </p>
    </div>
    <div class="intercept-info">
        <p>Intercepts are where the line touches the axis so y intercept would cross the y axis and the x intercept would cross the x axis.</p>
    </div>
</div>

<div class="data-results">
    <p class="right-align">TEST DATA / PREDICTION / RESULT</p>
</div>

<div class="results">
    <table>
            {% for prediction in data.predictions %}
            {% for test in data.test %}
            {% for result in data.predicted %}
            <tr class="zoom">
                    <td class="first-column">{{forloop.counter}}{{test}}</td>
                    <td>{{forloop.counter}}{{prediction}}</td>
                    <td class="third-column"> {{forloop.counter}}{{result}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
    </table>
</div>
<a href="{% url 'predictor:new' %}"><img class="navigation" onclick="setDisplay()" src="{% static 'predictor/images/icon2.png' %}" alt=""></a>


{% endblock %}