<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Learner-X: {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/base.css' %}">
</head>

<body>
    <div class="container" id="content">
        <header>
            <h1>LEARNERχ</h1>
        </header>
        <div class="content">
            <br>
            <br>
        {% block content %}
        {% endblock %}
        </div>
        <footer>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </footer>
    </div>
</body>
</html>