{% extends 'user/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/index.css' %}">
    <script src="{% static 'user/script/index.js' %}"></script>
</head>
<body>

    <p class="message2user"></p>

    <div class="activeForm">
        <p>class LoginForm(UserLoginForm):</p>
        <div class="activeForm">
            <p class="indentOne">class Meta:</p>
            <p class="indentTwo">model = User</p>
            <p class="indentOne">def __init__(self, *args, **kwargs):</p>
            <p class="indentTwo">super(LoginForm, self).__init__(*args, **kwargs)</p>
            <p class="indentTwo">self.fields['username'].widget = forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Username'})</p>
            <p class="indentTwo">self.fields['password1'].widget = forms.PasswordInput(attrs={'class': 'form-control', 'placeholder':'Password'})</p>
            <p>
                <form action="{% url 'user:logins' %}" method="POST">
                    {% csrf_token %}
                    <span class="indentTwo"><input type="submit" value="Login"> = ["{{form.username}}", "{{form.password1}}"]</span>
                </form>
            </p>
        </div>
    <br>
        <p class="inactiveLink"><a href="{% url 'user:new' %}" class="inactiveLink">class RegisterForm(UserCreationForm):</a></p>
        <div class="inactiveForm">
            <p class="indentOne">first_name = forms.CharField(max_length=255)</p>
            <p class="indentOne">last_name = forms.CharField(max_length=255)</p>
            <p class="indentOne">email = forms.EmailField()</p>
            <br>
            <p class="indentOne">class Meta:</p>
            <p class="indentTwo"><input type="submit" disabled value="Register"> = [</p>
            <p class="indentThree">"<input type="text" placeholder="First Name" disabled id="inactiveFirstName">", </p>
            <p class="indentThree">"<input type="text" placeholder="Last Name" disabled id="inactiveLastName">",</p>
            <p class="indentThree">"<input type="text" placeholder="Username" disabled id="inactiveUsername">",</p>
            <p class="indentThree">"<input type="text" placeholder="Email" disabled id="inactiveEmail">",</p>
            <p class="indentThree">"<input type="text" placeholder="Password" disabled id="inactivePassword">",</p>
            <p class="indentThree">"<input type="text" placeholder="Confirm" disabled id="inactivePassword2">"</p>
            <p class="indentTwo">]</p>
        </div>

</body>
{% endblock %}