{% extends 'user/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/new.css' %}">
    <script src="{% static 'user/script/new.js' %}"></script>
</head>

<body>
    <p class="message2user"></p>

    <p class="inactiveLink"><a href="{% url 'user:logins' %}" class="inactiveLink">class LoginForm(UserLoginForm):</a></p>
    <div class="inactiveForm">
        <p class="indentOne">class Meta:</p>
        <p class="indentTwo">model = User</p>
        <p class="indentOne">def __init__(self, *args, **kwargs):</p>
        <p class="indentTwo">super(LoginForm, self).__init__(*args, **kwargs)</p>
        <p class="indentTwo">self.fields['username'].widget = forms.TextInput(attrs={'class': 'form-control', 'placeholder': 'Username'})</p>
        <p class="indentTwo">self.fields['password1'].widget = forms.PasswordInput(attrs={'class': 'form-control', 'placeholder':'Password'})</p>
        <p>
            <form action="{% url 'user:logins' %}" method="POST">
                <span class="indentTwo"><input type="submit" disabled value="Login"> = ["<input type="text" placeholder="Username" disabled id="inactiveUsername">", "<input type="text" placeholder="Password" disabled id="inactivePassword">"]</span>
            </form>
        </p>
    </div>
    <br>
    <p class="activeForm">class RegisterForm(UserCreationForm):</p>
    <div class="activeForm">
        <p class="indentOne">first_name = forms.CharField(max_length=255)</p>
        <p class="indentOne">last_name = forms.CharField(max_length=255)</p>
        <p class="indentOne">email = forms.EmailField()</p>
        <br>
        <p class="indentOne">class Meta:</p>
        <form action="{% url 'user:create' %}" method="POST">
            {% csrf_token %}
            <p class="indentTwo"><input type="submit" value="Register"> = [</p>
            <p class="indentThree">"{{form.first_name}}", </p>
            <p class="indentThree">"{{form.last_name}}",</p>
            <p class="indentThree">"{{form.username}}",</p>
            <p class="indentThree">"{{form.email}}",</p>
            <p class="indentThree">"{{form.password1}}",</p>
            <p class="indentThree">"{{form.password2}}"</p>
        </form>
        <p class="indentTwo">]</p>
    </div>
    <div class="messages">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
</body>
{% endblock %}